<ul class="ide-stages"  >
	<li *ngFor="let stage of model; let i = index" #page  (click)="editPage(i)" [ngClass]="{true: 'active', false: 'unactive'}[getEditingStatus(i)]"   >
		<div class="thumbnail" >
			<img [src]="stage.thumbnail" />
			<ide-previewer [src]="stage.thumbnail" [width]="78" [height]="78" ></ide-previewer>
		</div>
		<input #nameInput type="text" onfocus="this.select()" (blur)="nameInputSubmit(i, nameInput.value)" (keyup.enter)="nameInput.blur()" [value]="stage.name" />
		<div class="stages-tools" >
			<span class="stages-btn glyphicon glyphicon-menu-up" (click)="upPage(i)" ></span>
			<span class="stages-btn glyphicon glyphicon-trash" (click)="removePage(i)" ></span>
			<span class="stages-btn glyphicon glyphicon-menu-down" (click)="downPage(i)" ></span>
		</div>
	</li>
	<li>
		<div class="addBtn" (click)="addEmptyPageAtLast()" >
			<span class="glyphicon glyphicon-plus" ></span>
		</div>
	</li>
</ul>