:host {
	padding: 20px;
	font-size: 10px;
}

a:link, a:active, a:hover, a:visited {
	line-height: 20px;
	color: #999;
}

h3 {
	font-size: 14px;
	margin: 0;
	padding: 5px 0;
	color: #333;
}

nav {
	text-align: center;
}

.pagination {
	margin: 0;
}