<app-layout>
	<div block="top">
		<app-nav>
			<li class="nav-item" dropdown>
				<a dropdownToggle id="fileBtn" href="javascript:void(0)">文件 <span class="caret"></span> </a>
				<ul dropdownMenu role="menu" class="dropdown-menu" aria-labelledby="fileBtn">
					<li role="menuitem">
						<a href="javascript:void(0)" class="dropdown-item" (click)="createNewProject()">新建</a>
					</li>
					<li role="menuitem">
						<a href="javascript:void(0)" class="dropdown-item" (click)="saveData()">保存</a>
					</li>
					<li role="menuitem">
						<a href="javascript:void(0)" class="dropdown-item" (click)="preview()">预览</a>
					</li>
					<li role="menuitem">
						<a href="javascript:void(0)" class="dropdown-item" (click)="publish()">发布</a>
					</li>
					<li role="menuitem">
						<a href="javascript:void(0)" class="dropdown-item" (click)="pageConfiger.show()">页面配置</a>
					</li>
					<li role="menuitem">
						<a href="javascript:void(0)" class="dropdown-item" (click)="fullscreen()">全屏</a>
					</li>
				</ul>
			</li>
			<li class="nav-item" dropdown>
				<a dropdownToggle id="sourceBtn" href="javascript:void(0)">资源 <span class="caret"></span> </a>
				<ul dropdownMenu role="menu" class="dropdown-menu" aria-labelledby="sourceBtn">
					<li role="menuitem">
						<a href="javascript:void(0)" class="dropdown-item" (click)="bitmapImporter.show()">导入图片</a>
					</li>
					<li role="menuitem">
						<a href="javascript:void(0)" class="dropdown-item">导入视频</a>
					</li>
				</ul>
			</li>
		</app-nav>
	</div>
	<div block="content">
		<app-ide-layout>
			<div block="left">
				<ide-accordion>
					<ide-panel [title]="'页面'" [isOpen]="true" [closeAble]="false" >
						<div block="main">
							<ide-page-list #pageList [model]="pagesService.getData()" [editedPageId]="timelineService.getActivePageId()"  ></ide-page-list>
						</div>
					</ide-panel>
				</ide-accordion>
			</div>
			<div block="centertop" >
				<ide-onion-skin [stageName]="timelineService.getData().name" ></ide-onion-skin>
			</div>
			<div block="centerleft">
				<ide-toolsbar #toolsbar ></ide-toolsbar>
			</div>
			<div block="center">
				<ide-canvas #canvas 
					[mode]="toolsbar.state" 
					[activePageModel]="timelineService.getData()" 
					[itemsModel]="itemsService.getData()"
					[activeOptions]="timelineService.getActiveOptions()"
				></ide-canvas>
			</div>
			<div block="bottom">
				<ide-accordion>
					<ide-panel [title]="'时间轴'" [hasTitle]="false" [isOpen]="true" [hasTools]="true" [closeAble]="false" [autoHeight]="300" #timelinepanel>
						<div block="main">
							<ide-timeline #timeline 
								[model]="timelineService._data" 
								[activeOptions]="timelineService.getActiveOptions()"
								[frameCount]="timelineService.getFrameCount()" 
							></ide-timeline>
						</div>
						<div block="tools">
							<div class="tools-left" style="width: 180px;">
								<a href="javascript:void(0)" [tooltip]="'删除图层'" (click)="timeline.removeActiveElements()">
								[删除]
								</a>
								<a href="javascript:void(0)" [tooltip]="'上移图层'" (click)="timeline.upActiveElements()">
								[上移]
								</a>
								<a href="javascript:void(0)" [tooltip]="'下移图层'" (click)="timeline.downActiveElements()">
								[下移]
								</a>
							</div>
							<div class="tools-right">
								<a href="javascript:void(0)" (click)="timeline.changeActiveToKeyFrames()">
									[转换关键帧]
								</a>
								<a href="javascript:void(0)" (click)="timeline.changeActiveToEmptyKeyFrames()">
									[转换空白关键帧]
								</a>
									<a href="javascript:void(0)" (click)="timeline.removeActiveKeyFrames()">
									[删除关键帧]
								</a>
									<a href="javascript:void(0)" (click)="timeline.changeActiveToFrames()">
									[转换帧]
								</a>
									<a href="javascript:void(0)" (click)="timeline.removeActiveFrames()">
									[删除帧]
								</a>
									<a href="javascript:void(0)" (click)="timeline.createActiveTweens()">
									[新建动画]
								</a>
									<a href="javascript:void(0)" (click)="timeline.removeActiveTweens()">
									[删除动画]
								</a>
							</div>
						</div>
					</ide-panel>
				</ide-accordion>
			</div>
			<div block="right">
				<ide-accordion>
					<ide-panel [title]="'素材库'" [isOpen]="true" [hasTools]="true" [autoHeight]="300" #itempanel>
						<div block="main">
							<ide-item-list #itemList [model]="itemsService.getData()" [active]="itemsService.active" [editedPage]="timelineService.getActivePageId()" ></ide-item-list>
						</div>
						<div block="tools">
							<div>
								<a href="javascript:void(0)"  [tooltip]="'添加元素'" (click)="itemList.openCreateItemModal()" >
								[添加]
								</a>
								<a href="javascript:void(0)"  [tooltip]="'删除元素'" (click)="itemList.removeActiveItem()" >
								[删除]
								</a>
							</div>
						</div>
					</ide-panel>
					<ide-panel [title]="'属性'">
						<div block="main">

						</div>
					</ide-panel>
				</ide-accordion>
			</div>
		</app-ide-layout>
	</div>
</app-layout>

<ide-bitmap-importer #bitmapImporter [model]="bitmapImporterService.getData()" ></ide-bitmap-importer>