<div class="framebase" [style.width]="option.frameCount * 9"  ></div>
<div class="frame hover" #hover   ></div>
<div class="frame action" #action  ></div>
<div class="frame key" *ngFor="let frame of option.frames"
	[ngStyle]="{
		left: frame.index * 9 + 'px',
		width: frame.duration * 9 + 'px'
	}"
	[ngClass]="[
		{true: 'empty', false: 'full'}[frame.isEmpty],
		{'0': 'tween-none', '1': 'tween-normal', '2': 'tween-shape'}[frame.tweenType]
	]"
 >
	<span></span>
	<div>
		<i class="range" ></i>
		<i class="icon" ></i>
	</div>
</div>