:host {
	font-size: 10px;
	display: inline-block;
	padding: 3px 5px;
}

:host.modal-form {
	display: block;
}

label {
	width: 70px;
	font-weight: bold;
}



.attr-field {
	display: inline-block;
	height: 28px;
	line-height: 28px;
}

input, select {
	vertical-align: middle;
}

input[type='checkbox'], input[type='radio'] {
	margin: 0;
}

select, input[type='text'] {
	height: 24px;
	border: 1px solid #DADADA;
	color: #000;
	outline: 0 none;
	padding: 3px 3px 3px 5px;
	font-size: 12px;
	line-height:15px;
	box-shadow: inset 0px 1px 4px #ECECEC;
	-webkit-appearance:none;
	text-indent: 0.01px;
	text-overflow: '';
	border-radius: 2px;
}
input[type='number'] {
	width: 45px;
	border: 0;
	text-decoration: underline;
}
input[type='text'] {
	width: 150px;
}
input[type='range'] {
	display: inline-block;
	width: 100px;
}
input[type='color'] {
	border: 0;
	background: transparent;
	padding: 0;
	margin: 0;
}

:host.modal-form .attr-field {
	width: 60%;
}
:host.modal-form input[type='text'],
:host.modal-form select {
	width: 65%;
	height: 26px;
}

select[disabled], input[disabled] {
	background: #f5f5f5;
}

:host.modal-form .file-select-btn input[type='text'] {
	width: 48%;
}

:host.modal-form .color-picker input[type='text'] {
	width: 80px;
}

:host.modal-form label {
	display: inline-block;
	vertical-align: middle;
	width: 87px;
	font-size: 12px;
	text-align: right;
	margin: 0;
	padding: 0;
	width: 31%;
}

:host.modal-form .form-input, :host.modal-form .form-select {
	width: 65%;
	border: 1px solid #DADADA;
	color: #000;
	height: 28px;
	outline: 0 none;
	padding: 3px 3px 3px 5px;
	width: 50%;
	font-size: 12px;
	line-height:15px;
	box-shadow: inset 0px 1px 4px #ECECEC;
	background: #FFF url('down-arrow.png') no-repeat right;
	-webkit-appearance:none;
	text-indent: 0.01px;
	text-overflow: '';
	border-radius: 2px;
}


select {
	width: 150px;
}
.range-value {
	display: inline-block;
	margin-left: 5px;
}

input[type='text'].color-value {
	border: 0;
	width: 80px;
	color: #000;
	box-shadow: inset 0 0 0;
}

.single-selection-btns {
	display: inline-block;
}

.single-selection-btns span {
	font-size: 14px;
	color: #999;
}

.single-selection-btns .active span{
	color: #000;
}

.single-selection-btns .btn {
	padding: 2px 10px;
}

.btn:focus {
	outline: 0;
}

.btn.btn-primary {
	font-size:12px;
	padding: 4px 10px;
}

.file-select-btn {
	position: relative;
}

input[type='file'] {
	width: 100%;
	height: 30px;
	position: absolute;
	top: -5px;
	right: 0;
	margin: 0;
	padding: 0;
	opacity: 0;
	cursor: pointer;
}